*{
    padding: 0;
    margin: 0;
}
header{
    background-color: #1F595B;
    height: 90px;
    width: 100%;
    display: flex;
}
body{
    background-color: #F0F0F0;
}
nav{
    margin-left: 50vw;
    padding: 40px;
}
nav a{
    color: aliceblue;
    text-decoration: none;
    padding: 10px;
}
.logo_site{
    width: 160px;
    height: 70px;
    margin-top: 10px;
    margin-left: 5%;

}
footer{
    background-color: #313131;
    width: 100%;
    height: 130px;
    margin-top: 32.1%; /*Tirar depois de colocar todo conteúdo da página*/
    float: right;
}
.lista-footer{
    color: aliceblue;
    margin-left: 20px;
    height: 72px;
    margin-top: 10px;
    list-style: none;
    position: relative;
}

.lista-footer li a{
    color: aliceblue;
    text-decoration: none;
}
.espacamento{
    margin-left: 20%;
}
.links-footer{
    display: flex;
}
.copyright{
    justify-content: center;
    text-align: center;
    color: aliceblue;
    margin-top: 25px;
}
.title-project{
    margin-left: 10%;
    margin-top: 2%;
}
.title-project::first-letter{
    font-size: 2em;
    font-family: 'Times New Roman';
}
.botoes {
  display: flex;
  justify-content: center; /* Centraliza os botões */
  margin-left: 50%;
}

.botao {
  background-color: #1F595B;
  width: 90px;
  height: 30px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px black solid;
  margin-left: 5px;
}
.botao a {
  color: aliceblue;
  text-decoration: none;
}
.text-project{
    width: 70%;
    margin-left: 10%;
    margin-top: 2%;
}
.noticia1{
    margin-left: 10%;
    margin-top: 2%;
    width: 40%;
}
.img-inicial-problemas{
    width: 100%;
    height: 200px;
    margin-top: 10px;
    background-image: url("../assets/imgs/img-problema.png");
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
.title-img-inicial{
    color: aliceblue;
    text-align: center;
    justify-content: center;
    padding-top: 70px;
    font-size: 3em;
}
.img-inicial-tecnologia{
    width: 100%;
    height: 200px;
    margin-top: 10px;
    background-image: url("../assets/imgs/banner-tecnologia.jpg");
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
.img-inicial-objetivo{
    width: 100%;
    height: 200px;
    margin-top: 10px;
    background-image: url("../assets/imgs/banner-objetivos.jpg");
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
.img-inicial-impactos{
    width: 100%;
    height: 200px;
    margin-top: 10px;
    background-image: url("../assets/imgs/banner-impactos.jpg");
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
.img-inicial-beneficios{
    width: 100%;
    height: 200px;
    margin-top: 10px;
    background-image: url("../assets/imgs/banner-beneficios.jpg");
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
.img-inicial-publico{
    width: 100%;
    height: 200px;
    margin-top: 10px;
    background-image: url("../assets/imgs/banner-publico.jpg");
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    filter: blur(5px);
}